/* https://github.com/phuhl/linux_notification_center/issues/128 */
label.deadd-noti-center.date {
  font-size: 20px;
}

label.deadd-noti-center.noti-center.time {
  font-size: 64px;
}

/* Experimental: */
/* * { */
/*   background-color: alpha(@bg-color, 1); */
/* } */

/** 
 * My Old Colors:
 * https://gitlab.com/myriacore-dotfiles/dotfiles/-/blob/728b589d2d1d575d66c4d2c28fba41d61652bd91/.config/deadd/deadd.conf#L144-203
 * 
 * # Background color for the notification center.
 * # background = rgba(29, 27, 20, 0.6)
 * # background = rgba(30, 30, 30, 0.5)
 * background = rgba(0, 0, 0, 0.5)
 * 
 * # Background color for the notification popups.
 * # notiBackground = rgba(9, 0, 0, 0.5)
 * notiBackground = rgba(0, 0, 0, 0.5)
 * 
 * # Color for the text (summary, body and application name) in
 * # notification popups.
 * notiColor = #fef3f6
 * 
 * # Background color for "critical" notification popups.
 * critical = rgba(255, 0, 50, 0.5)
 * 
 * # Color for the text (summary, body and application name) in
 * # "critical" notification popups.
 * criticalColor = #FFF
 * 
 * # Background color for "critical" notifications in notification
 * # center.
 * criticalInCenter = rgba(155, 0, 20, 0.5)
 * 
 * # Color for the text (summary, body and application name) in
 * # "critical" notification in notification center.
 * criticalInCenterColor = #FFF
 * 
 * 
 * # Global text color
 * labelColor = #eae2e0
 * 
 * ### These button configurations are applied globaly (except they
 * ### get overwritten in the [buttons] section. The buttons section
 * ### only applies to the configurable buttons within the notification
 * ### center, while these configs also apply to the buttons within
 * ### notifications.)
 * # Color for the text in the buttons.
 * buttonColor = #eae2e0
 * 
 * # Background color of button in hover state (mouse over)
 * buttonHover = rgba(0, 20, 20, 0.2)
 * 
 * # Text color of button in hover state (mouse over)
 * buttonHoverColor = #fee
 * 
 * # Background color of button
 * buttonBackground = transparent
 **/

/* My attempts to port in my old colors: */

window {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: alpha(@bg-color, 0.5); */
}

/* .deadd-noti-center.noti-center { */
/*   /\* background-color:  rgba(29, 27, 20, 0.6); *\/ */
/*   /\* background-color:  rgba(30, 30, 30, 0.5); *\/ */
/*   background-color: rgba(0, 0, 0, 0.3); */
/* } */

/* .deadd-noti-center.notification { */
/*   /\* background-color: rgba(9, 0, 0, 0.5); *\/ */
/*   background-color: rgba(0, 0, 0, 0.3); */
/*   color: #fef3f6; */
/* } */

/* /\* button.deadd-noti-center.noti-center { *\/ */
/* /\*   color: #eae2e0; *\/ */
/* /\*   background-color: transparent; *\/ */
/* /\* } *\/ */

/* button.deadd-noti-center.noti-center:hover { */
/*   color: #fee; */
/*   background-color: rgba(0, 20, 20, 0.2); */
/* } */
